name: Upgrade all dependencies
on:
  schedule:
    - cron:  '* * * * *'

env: 
  node-version: 12
  android-api-level: 31

jobs:
  upgrade-npm-packages:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ env.node-version }}
      - run: TARGET=typescript make clean upgrade
      - uses: actions/upload-artifact@v2
        with:
          name: npm-package-changes
          path: yarn.lock
  upgrade-pods:
    runs-on: m1
    needs:
      - upgrade-npm-packages
    steps: 
      - uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ env.node-version }}
      - run: TARGET=ios make clean upgrade
      - uses: actions/upload-artifact@v2
        with:
          name: pod-changes
          path: ios/Podfile.lock
  create-pull-request:
    needs:
      - upgrade-pods
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repo
        uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: npm-package-changes
      - uses: actions/download-artifact@v2
        with:
          name: pod-changes
      - uses: peter-evans/create-pull-request@v3
        with:
          add-paths: |
            yarn.lock
            ios/Podfile.lock
          assignees: edeckers
          base: main
          commit-message: "chore: update dependencies"
          delete-branch: true
          draft: true
          labels: |
            dependencies
          title: "[Automated] update dependencies"


